@model TrashCollector.Models.Customer

@{
    ViewBag.Title = "Details";
}

<h2>Profile</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Zipcode.Zip)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Zipcode.Zip)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "EditProfile", new { id = Model.ID }) |
</p>
