@model IEnumerable<TrashCollector.Models.Customer>

@{
    ViewBag.Title = "Index";
}

<h2>Trash Pickup Schedule</h2>
<br />
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ExtraDay.extra)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TrashDay.Day)
        </th>
        
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ExtraDay.extra)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TrashDay.Day)
            </td>
            
            <td>
                @Html.ActionLink("Edit", "EditSchedule", new { id = item.ID }) |
            </td>
        </tr>
    }

</table>
