@model IEnumerable<TrashCollector.Models.PickUpModel>

@{
    ViewBag.Title = "WorkSchedule";
}

<h2>Work Schedule</h2>

<br />
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Customer.TrashDay.Day)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Customer.ExtraDay.extra)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Customer.Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Customer.Zipcode.Zip)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PickUpStatus)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ExtraPickUpStatus)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Customer.TrashDay.Day)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Customer.ExtraDay.extra)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Customer.Address)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Customer.Zipcode.Zip)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PickUpStatus)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ExtraPickUpStatus)
        </td>
        <td>
            @Html.ActionLink("Edit", "EditStatus", new { id = item.ID }) |
        </td>
        <td>
            @Html.ActionLink("Map", "Map1", new { id = item.Customer.ID }) |
        </td>
    </tr>
}

</table>
